import turtle as t

t.bgcolor("skyblue")
t.color("black")
t.speed(100)

t.penup()
t.goto(-200,500)
t.pendown()
t.goto(-200,-400)
t.forward(10)
t.left(90)
t.forward(900)
t.left(90)
t.forward(10)
t.right(180)
t.forward(10)

t.begin_fill()
t.fillcolor("green")

t.forward(490)
t.right(90)
t.forward(300)
t.right(90)
t.forward(490)
t.penup()
t.end_fill()

t.goto(37,427)
t.pendown()

t.begin_fill()
t.fillcolor("red")

t.circle(80)
t.end_fill()
t.penup()
t.goto(-200,-400)
t.down()
t.forward(80)
t.left(90)
t.forward(20)
t.left(90)
t.forward(160)
t.left(90)
t.forward(20)
t.left(90)
t.forward(80)

t.penup()
t.goto(-280,-420)
t.down()
t.forward(50)
t.left(90)
t.forward(20)
t.left(90)
t.forward(260)
t.left(90)
t.forward(20)
t.left(90)
t.forward(50)


t.penup()
t.goto(-330,-440)
t.down()
t.forward(50)
t.left(90)
t.forward(20)
t.left(90)
t.forward(360)
t.left(90)
t.forward(20)
t.left(90)
t.forward(50)


t.penup()
t.goto(-380,-460)
t.down()
t.forward(50)
t.left(90)
t.forward(20)
t.left(90)
t.forward(460)
t.left(90)
t.forward(20)
t.left(90)
t.forward(50)

t.done()
